body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:567px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:511px;
}
#u663 {
  position:absolute;
  left:248px;
  top:65px;
  width:319px;
  height:511px;
}
#u664 {
  position:absolute;
  left:2px;
  top:248px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
#u665 {
  position:absolute;
  left:257px;
  top:555px;
  width:300px;
  height:39px;
}
#u666 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
