body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:597px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:639px;
}
#u587 {
  position:absolute;
  left:278px;
  top:56px;
  width:319px;
  height:639px;
}
#u588 {
  position:absolute;
  left:2px;
  top:312px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
