body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u360 {
  position:absolute;
  left:670px;
  top:78px;
  width:320px;
  height:569px;
}
#u361 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u362 {
  position:absolute;
  left:253px;
  top:86px;
  width:320px;
  height:569px;
}
#u363 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:278px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  position:absolute;
  left:253px;
  top:146px;
  width:320px;
  height:278px;
}
#u365 {
  position:absolute;
  left:2px;
  top:131px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u366 {
  position:absolute;
  left:261px;
  top:146px;
  width:90px;
  height:22px;
}
#u367 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u368 {
  position:absolute;
  left:488px;
  top:106px;
  width:85px;
  height:32px;
}
#u369 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u370 {
  position:absolute;
  left:352px;
  top:105px;
  width:116px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u371 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u372 {
  position:absolute;
  left:263px;
  top:178px;
  width:300px;
  height:25px;
}
#u372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
