body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:382px;
}
#u463 {
  position:absolute;
  left:192px;
  top:28px;
  width:399px;
  height:382px;
}
#u464 {
  position:absolute;
  left:2px;
  top:183px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:547px;
}
#u465 {
  position:absolute;
  left:632px;
  top:28px;
  width:320px;
  height:547px;
}
#u466 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:630px;
}
#u467 {
  position:absolute;
  left:1047px;
  top:30px;
  width:472px;
  height:630px;
}
#u468 {
  position:absolute;
  left:2px;
  top:307px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1722px;
  height:1362px;
}
#u469 {
  position:absolute;
  left:39px;
  top:687px;
  width:1722px;
  height:1362px;
}
#u470 {
  position:absolute;
  left:2px;
  top:673px;
  width:1718px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1697px;
  height:906px;
}
#u471 {
  position:absolute;
  left:39px;
  top:2049px;
  width:1697px;
  height:906px;
}
#u472 {
  position:absolute;
  left:2px;
  top:445px;
  width:1693px;
  visibility:hidden;
  word-wrap:break-word;
}
